/* ==UserStyle==
@name           google字体
@namespace      github.com/wangkezun/my-usercss/edit/master/google-font.user.css
@version        1.0.1
@description    google 字体修改
@author         wangkezun(wangkezun@gmail.com)
@updateURL      https://raw.githubusercontent.com/wangkezun/my-usercss/master/google-font.user.css
==/UserStyle== */
@-moz-document domain("google.com") {
    .std,
    .g {
        font-family: "Source Han Sans SC", -apple-system, BlinkMacSystemFont, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
        font-weight: 400!important;
    }
    .LC20lb {
        font-family: "Source Han Sans SC", -apple-system, BlinkMacSystemFont, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
        font-weight: 500!important;
    }
    #res h3, #botstuff h3 {
        font-size: 22px;
        line-height: 1.5;
    }
    #result-stats {
        font-family: "Source Han Sans SC", -apple-system, BlinkMacSystemFont, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
    }
}
