/* ==UserStyle==
@name           知乎字重与字号修改
@namespace      github.com/wangkezun/my-usercss/edit/master/zhihu-font-weight.user.css
@version        1.0.1
@description    知乎字重修改
@author         wangkezun(wangkezun@gmail.com)
@updateURL      https://raw.githubusercontent.com/wangkezun/my-usercss/master/zhihu-font-weight.user.css
==/UserStyle== */
@-moz-document domain("www.zhihu.com") {
    .RichContent {
        font-weight: 400!important;
        font-size: large;
    }
    .ContentItem-title {
        font-size: x-large;
        font-weight: 600!important;
    }
}
